/*---------------------- VARIABLES ----------------------*/
/* colors */
$main-color: #181719;
$gray-color: #828282;
$white-color: #ffffff;

/* fonts */
$main-font-family: "Montserrat", sans-serif;
$special-font-family: "Lora", serif;
$logo-font-family: "Crimson Pro", serif;

/* base sizes */
$base-font-size: minmax(0.9rem, 1.5rem);

/*---------------------- MIXINS ----------------------*/
/* media query mixin */
@mixin breakpoint($class) {
  @if $class == xsm {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: 600px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 750px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 950px) {
      @content;
    }
  } @else if $class == xlg {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $class == xxlg {
    @media (min-width: 1800px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xsm, sm, md, lg, xlg, xxlg";
  }
}

/*---------------------- HTML, ALL, BODY STYLES ----------------------*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  font-size: $base-font-size;
  font-family: $main-font-family;
  overflow-x: hidden;
  background-color: $main-color;
  color: $white-color;
  line-height: 1.75;
  padding: 1em;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* text styles */
h1,
h2 {
  font-family: $special-font-family;
  line-height: 1.2;
}

h1 {
  font-size: minmax(2rem, 3rem);
  font-weight: 500;
}

h2 {
  font-size: minmax(1.1rem, 1.5rem);
  font-weight: 700;
}

p {
  color: $white-color;
}

/* genetic class text styles */
.text-center {
  text-align: center;
}

/* image styles */
img {
  max-width: 100%;
  height: auto;
}

/* link styles */
%link-hover {
  font-weight: 700;
  padding-bottom: 0.25em;
  border-bottom: 2px solid $white-color;
}

a {
  &:link,
  &:visited {
    color: $white-color;
    text-decoration: none;
  }

  &:hover,
  &:active {
    @extend %link-hover;
  }
}

.active {
  @extend %link-hover;
}

/* button styles */
button {
  background-color: transparent;
  border: none;
}

/* main styles */
main {
  @include breakpoint(sm) {
    margin: 2em 0;
  }
}

/*---------------------- LAYOUT ----------------------*/
/* display styles */
.d-none {
  display: none !important;
}

.d-mobile-none {
  @include breakpoint(xsm) {
    display: none !important;
  }
}

.d-tablet-none {
  @include breakpoint(sm) {
    display: none !important;
  }
}

.d-block {
  display: block !important;
}

/* wrapper styles */
.wrapper-1200 {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper-30-ch {
  max-width: 30ch;
}

/* position styles */
.p-relative {
  position: relative;
}

/* flex styles */
.flex {
  display: flex;
  gap: 1em;
}

.mobile-column {
  flex-direction: column;

  @include breakpoint(sm) {
    flex-direction: row;
  }
}

/* grid styles */
.grid {
  display: grid;
  grid-gap: 1em;
}

.col-1 {
  grid-template-columns: 1fr;
}

.col-2 {
  @extend .col-1;

  @include breakpoint(sm) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.align-items-center {
  align-items: center;
}

/*---------------------- NAVIGATION ----------------------*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  #menu {
    @include breakpoint(xsm) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $main-color;
      width: 100%;
      height: 100vh;
      padding-right: 1em;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;

      #js-close-btn {
        align-self: flex-end;
        padding-right: 1em;
        padding-top: 1em;
        position: absolute;
        top: 0;
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    padding: 0;

    @include breakpoint(sm) {
      flex-direction: row;
    }

    li {
      display: inline-block;
      margin-bottom: 1em;

      @include breakpoint(sm) {
        margin-left: 2.5em;
      }
    }
  }
}

/*---------------------- COMPONENTS ----------------------*/
/* logo styles */
.logo {
  text-transform: uppercase;
  padding: 0.35em;
  border: 1px solid $white-color;
  font-family: $logo-font-family;
}

/* btn styles */
.btn {
  font-weight: 700;
  position: relative;

  &::after {
    content: "\279D";
    font-size: 2rem;
    position: relative;
    top: 0.15em;
    left: 0.25em;
  }
}

/* details styles */
.details {
  width: 70%;
  height: 5em;
  background-color: $main-color;
  padding: 1.25em 2em;
  position: relative;
  bottom: 5em;
  left: 7%;
}

/* author styles */
.author {
  display: flex;
  gap: 1em;
}

.author-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.author-name {
  font-size: minmxax(0.8rem, 0.9rem);
  font-weight: 500;
}

.author-title {
  color: $gray-color;
  font-size: minmxax(0.6rem, 0.8rem);
}

/* credit styles */
.credits p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--light-gray);
}

.credits a:link,
.credits a:visited {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: var(--light-gray);
}

.credits a:hover,
.credits a:active {
  text-decoration: none;
}
