/*---------------------- VARIABLES ----------------------*/
/* colors */
/* fonts */
/* base sizes */
/*---------------------- MIXINS ----------------------*/
/* media query mixin */
/*---------------------- HTML, ALL, BODY STYLES ----------------------*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  font-size: minmax(0.9rem, 1.5rem);
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  background-color: #181719;
  color: #ffffff;
  line-height: 1.75;
  padding: 1em;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* text styles */
h1,
h2 {
  font-family: "Lora", serif;
  line-height: 1.2;
}

h1 {
  font-size: minmax(2rem, 3rem);
  font-weight: 500;
}

h2 {
  font-size: minmax(1.1rem, 1.5rem);
  font-weight: 700;
}

p {
  color: #ffffff;
}

/* genetic class text styles */
.text-center {
  text-align: center;
}

/* image styles */
img {
  max-width: 100%;
  height: auto;
}

/* link styles */
a:hover, a:active, .active {
  font-weight: 700;
  padding-bottom: 0.25em;
  border-bottom: 2px solid #ffffff;
}

a:link, a:visited {
  color: #ffffff;
  text-decoration: none;
}

/* button styles */
button {
  background-color: transparent;
  border: none;
}

/* main styles */
@media (min-width: 600px) {
  main {
    margin: 2em 0;
  }
}

/*---------------------- LAYOUT ----------------------*/
/* display styles */
.d-none {
  display: none !important;
}

@media (max-width: 600px) {
  .d-mobile-none {
    display: none !important;
  }
}

@media (min-width: 600px) {
  .d-tablet-none {
    display: none !important;
  }
}

.d-block {
  display: block !important;
}

/* wrapper styles */
.wrapper-1200 {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper-30-ch {
  max-width: 30ch;
}

/* position styles */
.p-relative {
  position: relative;
}

/* flex styles */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

.mobile-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 600px) {
  .mobile-column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

/* grid styles */
.grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
}

.col-1, .col-2 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 600px) {
  .col-2 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*---------------------- NAVIGATION ----------------------*/
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 600px) {
  nav #menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #181719;
    width: 100%;
    height: 100vh;
    padding-right: 1em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }
  nav #menu #js-close-btn {
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding-right: 1em;
    padding-top: 1em;
    position: absolute;
    top: 0;
  }
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  text-align: center;
  padding: 0;
}

@media (min-width: 600px) {
  nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

nav ul li {
  display: inline-block;
  margin-bottom: 1em;
}

@media (min-width: 600px) {
  nav ul li {
    margin-left: 2.5em;
  }
}

/*---------------------- COMPONENTS ----------------------*/
/* logo styles */
.logo {
  text-transform: uppercase;
  padding: 0.35em;
  border: 1px solid #ffffff;
  font-family: "Crimson Pro", serif;
}

/* btn styles */
.btn {
  font-weight: 700;
  position: relative;
}

.btn::after {
  content: "\279D";
  font-size: 2rem;
  position: relative;
  top: 0.15em;
  left: 0.25em;
}

/* details styles */
.details {
  width: 70%;
  height: 5em;
  background-color: #181719;
  padding: 1.25em 2em;
  position: relative;
  bottom: 5em;
  left: 7%;
}

/* author styles */
.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

.author-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.author-name {
  font-size: minmxax(0.8rem, 0.9rem);
  font-weight: 500;
}

.author-title {
  color: #828282;
  font-size: minmxax(0.6rem, 0.8rem);
}

/* credit styles */
.credits p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--light-gray);
}

.credits a:link,
.credits a:visited {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: var(--light-gray);
}

.credits a:hover,
.credits a:active {
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */