/*---------------------- VARIABLES ----------------------*/
/* colors */
/* fonts */
/* base sizes */
/*---------------------- MIXINS ----------------------*/
/* media query mixin */
/*---------------------- HTML, ALL, BODY STYLES ----------------------*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  font-size: minmax(1rem, 1rem);
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  color: #333333;
  line-height: 1.75;
  padding: 1em;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* text styles */
h1,
h2 {
  font-family: "Playfair Display", serif;
  line-height: 1.2;
}

h1 {
  font-size: minmax(1.5rem, 3rem);
}

h2 {
  font-size: minmax(1.1rem, 1.5rem);
}

/* genetic class text styles */
.text-main {
  color: #f2994a;
}

.text-center {
  text-align: center;
}

.small {
  color: #bdbdbd;
  font-weight: 700;
  font-size: 0.5rem;
  text-transform: uppercase;
}

/* image styles */
img {
  max-width: 100%;
  height: auto;
}

/* link styles */
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  font-style: italic;
}

/* button styles */
button {
  background-color: transparent;
  border: none;
}

/* header styles */
@media (min-width: 600px) {
  header {
    grid-column: span 4;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

/* aside styles */
aside {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: clamp(0.6rem, 0.7rem, 0.9rem);
  margin-top: 1.25em;
}

@media (min-width: 600px) {
  aside {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    max-width: 216px;
    padding: 1.5em 1em;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

aside > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75em;
}

@media (max-width: 600px) {
  aside > div:first-child {
    grid-column: span 3;
  }
}

/* main styles */
main {
  max-width: 900px;
}

@media (min-width: 600px) {
  main {
    grid-column: span 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

/* footer styles */
@media (min-width: 600px) {
  footer {
    grid-column: span 4;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

/*---------------------- LAYOUT ----------------------*/
/* container styles */
.container {
  display: -ms-grid;
  display: grid;
}

@media (min-width: 600px) {
  .container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-column-gap: 1.5em;
            column-gap: 1.5em;
  }
}

/* display styles */
.d-none {
  display: none !important;
}

@media (max-width: 600px) {
  .d-mobile-none {
    display: none !important;
  }
}

@media (min-width: 600px) {
  .d-tablet-none {
    display: none !important;
  }
}

.d-block {
  display: block !important;
}

/* wrapper styles */
.wrapper-970 {
  max-width: 970px;
  margin: 0 auto;
}

/* position styles */
.p-relative {
  position: relative;
}

/* flex styles */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

.mobile-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 600px) {
  .mobile-column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

/* grid styles */
.grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
}

.col-1, .col-2 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 600px) {
  .col-2 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

/*---------------------- FORMS ----------------------*/
fieldset {
  border: none;
  margin: 1.5em 0;
  padding: 0;
}

fieldset div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 1fr;
      grid-template-columns: 40px 1fr;
}

legend {
  font-size: minmax(1rem, 1.1rem);
  font-family: "Playfair Display", serif;
  font-style: italic;
  margin: 1em 0;
}

input[type="checkbox"] {
  width: 21px;
  height: 21px;
  accent-color: #f2994a;
}

/*---------------------- COMPONENTS ----------------------*/
/* description styles */
.description {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px 1fr;
      grid-template-columns: 20px 1fr;
  font-size: minmax(0.8rem, 0.9rem);
  font-style: italic;
  font-weight: 500;
  max-width: 600px;
}

.description img {
  margin-top: 5px;
}

.description p {
  margin-top: 0;
  line-height: 1.25rem;
}

.instructions > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 1fr;
      grid-template-columns: 50px 1fr;
}

.instructions p {
  margin-top: 0;
  line-height: 1.219rem;
}

.instructions .counter {
  width: 36px;
  height: 36px;
  background-color: #f2994a;
  color: #ffffff;
  padding: 0.05em;
  border-radius: 6px;
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.75rem;
}

/* source styles */
.source,
.source a:link {
  color: #bdbdbd;
}

/* credit styles */
.credits p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  color: #4f4f4f;
}

.credits a:link,
.credits a:visited {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #4f4f4f;
}

.credits a:hover,
.credits a:active {
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */